.task-mini {
    @include flex-align;

    padding: 2.5px;
    cursor: pointer;

    &:hover {
        background: var(--color-black-light-2);
    }

    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.task-mini__body {
    width: 100%;
}

.task-mini__title {
    font-size: 1.5rem;
}
