.task {
    @include flex-align;
    margin-left: 6px;

    &:not(:last-child) {
        margin-bottom: 3px;
    }

    &__body {
        @include flex-space-between;

        width: 100%;

        transition: var(--transition-2);
        cursor: pointer;

        &:hover {
            background: var(--color-black-light-2-alpha);
            transition: var(--transition-2);
        }

        &--left {
            @include flex-align;

            & > div {
                margin-right: 0.75rem;
            }
        }
    }
}
