.task {
    @include flex-align;
    margin-left: 6px;

    &:not(:last-child) {
        margin-bottom: 3px;
    }

    &__body {
        @include flex-align;

        width: 100%;

        transition: var(--transition-2);
        cursor: pointer;

        &:hover {
            background: var(--color-black-light-2-alpha);
            transition: var(--transition-2);
        }

        &--title {
            @include flex-align;
            flex: 1 1 auto;

            & > div {
                margin-right: 0.75rem;
            }
        }

        &--date {
            @include flex-center-align;

            width: 15rem;
            height: 100%;
        }
    }
}
