.task-section {
    padding: 1rem;

    &__body {
        @include flex-align;

        margin-bottom: 3px;
        padding-bottom: 3px;
        border-bottom: var(--border-black);

        &--title {
            @include flex-align;
            flex: 1 1 auto;

            margin-left: 6px;
        }

        &--date {
            @include flex-center-align;

            width: 15rem;
            height: 100%;
        }
    }

    // &__menu-button {
    //     cursor: pointer;
    // }

    &__dropdown {
        margin-right: 5px;

        // &--hide {
        //     opacity: 0;
        // }
    }

    &__arrow {
        cursor: pointer;
        margin: 0 1rem 0 5px;

        &--closed {
            transform: rotate(90deg);
        }
    }

    &__title {
        margin: 0 0 1rem 7.5px;
        padding: 5px 1rem;
    }

    &__add {
        @include flex-align;

        & > i {
            margin: 0 1.9rem 0 3px;
        }
    }
}
