.task-section {
    padding: 1rem;

    &__header {
        @include flex-align;

        margin-bottom: 3px;
        padding-bottom: 3px;
        border-bottom: var(--border-black);
    }

    &__menu {
        display: flex;
        align-items: center;

        margin-left: 6px;
    }

    &__menu-button {
        cursor: pointer;
    }

    &__dropdown {
        &--hide {
            opacity: 0;
        }
    }

    &__arrow {
        cursor: pointer;
        margin: 0 1rem 0 5px;

        &--closed {
            transform: rotate(90deg);
        }
    }

    &__title {
        margin: 0 0 1rem 7.5px;
        padding: 5px 1rem;
    }

    &__add {
        @include flex-align;

        & > i {
            margin: 0 1.9rem 0 3px;
        }
    }
}
