.task-section {
    border-radius: var(--border-radius);
    background: var(--color-black-light);

    &:not(:last-child) {
        margin-bottom: 1.75rem;
    }

    &__header {
        @include flex-align;

        padding: 1rem 1.25rem;

        background: var(--color-black-light-2);
        border-radius: var(--border-radius) var(--border-radius) 0 0;

        &--title {
            @include flex-align;
            flex: 1 1 auto;

            margin-left: 6px;
        }

        &--date {
            @include flex-center-align;

            width: 15rem;
            height: 100%;
        }

        &--closed {
            border-radius: 3px;
        }
    }

    &__body {
        padding: 1.25rem;
    }

    &__dropdown {
        margin-right: 5px;
    }

    &__arrow {
        cursor: pointer;
        margin: 0 1rem 0 5px;

        &--closed {
            transform: rotate(90deg);
        }
    }

    &__title {
        margin: 0 0 1rem 7.5px;
        padding: 5px 1rem;
    }

    &__add {
        @include flex-align;
        margin-top: 1rem;

        & > i {
            margin: 0 1.9rem 0 3px;
        }
    }
}

// draggable
.flip-list-move {
    transition: transform 0.5s;
}

.no-move {
    transition: transform 0s;
}

.ghost {
    opacity: 1;
}
