.dropdown {
    @include flex-align;
    @include width-height-100;

    position: relative;
}

.dropdown__button {
    color: var(--color-grey-light);
    cursor: pointer;

    &:hover {
        color: var(--color-grey);
    }
}

.dropdown__body {
    position: absolute;
    top: 2.5rem;

    width: 20rem;
    z-index: 100;

    background: var(--color-black-light-2);
    border-radius: 2px;
}

.dropdown__body--left {
    right: 0;
}

.dropdown__body--selection {
    top: 4rem;
}

.dropdown__selection {
    @include flex-align;
    @include width-height-100;

    padding: 5px;
    border: var(--border-transparent);

    &:hover {
        border: var(--border-black);
        cursor: pointer;
    }

    & > i {
        margin-right: 1rem;
    }
}
