:root {
    --color-black: #161820;
    --color-black-light: #1f2833;
    --color-black-light-2: #38485d;
    --color-black-light-2-alpha: rgba(56, 72, 93, 0.3);

    --color-grey: #c5c6c7;
    --color-grey-light: rgba(197, 198, 199, 0.5);

    --color-blue: #66fcf1;
    --color-blue-dark: #45a29e;

    --checkbox-green: #00b55d;
    --checkbox-green-dark: #007f5b4d;

    --border-black: 1px solid var(--color-black);
    --border-transparent: 1px solid transparent;

    --transition-2: all 0.2s ease-in-out;
    --transition-3: all 0.3s ease-in-out;
}
