:root {
    --color-black: #161820;
    --color-black-light: #1f2833;
    --color-black-light-2: #38485d;

    --color-grey: #c5c6c7;
    --color-grey-light: rgba(197, 198, 199, 0.5);

    --color-blue: #66fcf1;
    --color-blue-dark: #45a29e;

    --checkbox-green: #00b55d;
    --checkbox-green-dark: #007f5b4d;

    --border-black: 1px solid var(--color-black);
}
