.dropdown-item {
    font-size: 1.4rem;

    padding: 7.5px 1rem;
    cursor: pointer;

    &:hover {
        background: var(--color-grey-light);
        color: var(--color-black);
        border-radius: 2px;
    }

    &--disabled {
        cursor: not-allowed;

        &:hover {
            color: var(--color-black-light-2);
            background: var(--color-grey-light);
        }
    }
}
