.dropdown-item {
    @include flex-space-between;

    position: relative;

    padding: 7.5px 1rem;
    cursor: pointer;

    &:hover {
        background: var(--color-grey-light);
        color: var(--color-black);
        border-radius: 2px;
    }

    &--disabled {
        cursor: not-allowed;

        &:hover {
            color: var(--color-black-light-2);
            background: var(--color-grey-light);
        }
    }

    &__title {
        font-size: 1.4rem;
    }

    &__second-menu {
        position: absolute;
        right: -20rem;

        background: var(--color-black-light-2);
    }
}
