.text-editor {
    border: var(--border-transparent);
    transition: var(--transition-3);

    &:hover {
        border: var(--border-black);
        transition: var(--transition-3);
    }

    &__menu {
        opacity: 0;
        transition: var(--transition-3);

        &--active {
            opacity: 1;
            transition: var(--transition-3);
        }
    }

    &__icon {
    }

    &__editor {
        padding: 5px 1rem;

        & > div:focus {
            outline: none;
        }
    }
}
