.text-editor {
    &__menu {
        opacity: 0;
        transition: var(--transition-3);

        &--active {
            opacity: 1;
            transition: var(--transition-3);
        }
    }

    &__icon {
    }
}
