.dropdown {
    position: relative;

    // margin-right: 1rem;

    &__button {
        color: var(--color-grey-light);
        cursor: pointer;

        &:hover {
            color: var(--color-grey);
        }
    }

    &__body {
        position: absolute;
        top: 2.5rem;

        width: 20rem;
        z-index: 100;

        background: var(--color-black-light-2);
        border-radius: 2px;

        &--left {
            right: 0;
        }
    }
}
