.sort-button {
    cursor: pointer;

    & > span {
        margin-right: 5px;
    }

    & > i {
        color: var(--color-grey-light);
        margin-right: 1rem;
    }

    &:hover {
        & > i {
            color: var(--color-grey);
        }
    }
}
