.sort-button {
    cursor: pointer;

    &:hover {
        & > i {
            color: var(--color-grey);
        }
    }
}

.sort-button > span {
    margin-right: 5px;
}

.sort-button > i {
    color: var(--color-grey-light);
    margin-right: 1rem;
}
