.profile-picture {
    @include flex-center-align;
    flex: 0 0 2.75rem;

    width: 2.75rem;
    height: 2.75rem;

    border-radius: 5rem;
    border: 2px solid var(--color-grey);
    margin-right: 1rem;
}
