.tasks-widget {
    background: var(--color-black-light);
    border-radius: var(--border-radius);

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.tasks-widget__title {
    background: var(--color-black-light-2);
    padding: 1rem 1.25rem;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.tasks-widget__body {
    @include flex-align;

    padding: 1rem;
}

.tasks-widget__list {
    height: 10rem;
    overflow-y: auto;

    padding-right: 2rem;
}

.tasks-widget__ring {
    margin-right: 2rem;
}
