.tasks {
    &__header {
        padding: 1.5rem;
        border-bottom: 1px solid var(--color-black);
    }

    &__button {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__section {
        padding: 1rem;
    }
}
