.task-modal {
    &__header {
        @include flex-space-between;

        padding-bottom: 1.5rem;
        border-bottom: var(--border-black);
    }

    &__complete {
        @include flex-center-align;

        & > div {
            margin-right: 1.5rem;
        }
    }

    &__body {
        height: 100%;
        overflow-y: auto;
    }

    &__body-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'title title'
            'assigned-to due-date';
    }

    &__title {
        position: relative;

        @include flex-align-start;

        grid-area: title;

        border-bottom: var(--border-black);
    }

    &__assigned-to {
        @include flex-align-start;

        grid-area: assigned-to;

        font-size: 2rem;
        border-bottom: var(--border-black);
    }

    &__due-date {
        @include flex-align-start;

        grid-area: due-date;

        border-bottom: var(--border-black);
    }

    &__description {
        border-bottom: var(--border-black);
    }

    &__comments {
    }

    &__footer {
        height: auto;

        border-top: var(--border-black);

        position: absolute;
        bottom: 2rem;
        width: calc(100% - 4rem);
    }
}
