.create-task {
    &__body-top {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'title title title'
            'assigned-to due-date task-section'
            'description description description';
    }

    &__title {
        position: relative;

        @include flex-align-start;

        grid-area: title;

        border-bottom: var(--border-black);
        width: 100%;
    }

    &__assigned-to {
        @include flex-align-start;

        grid-area: assigned-to;

        font-size: 2rem;
        border-bottom: var(--border-black);
    }

    &__due-date {
        @include flex-align-start;

        grid-area: due-date;

        border-bottom: var(--border-black);
    }

    &__task-section {
        @include flex-align-start;

        grid-area: task-section;

        border-bottom: var(--border-black);
    }

    &__description {
        border-bottom: var(--border-black);
    }

    &__footer {
        margin-top: 1.5rem;
    }
}
