.task-modal {
    &__header {
        @include flex-space-between;

        padding-bottom: 1.5rem;
        border-bottom: var(--border-black);
    }

    &__complete {
        @include flex-center-align;

        & > div {
            margin-right: 1.5rem;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 5fr 2fr;
        grid-template-areas:
            'title title'
            'assigned-to due-date'
            'description description'
            'comments comments';

        height: calc(100% - 20rem);
    }

    &__title {
        position: relative;

        @include flex-align-start;

        grid-area: title;

        border-bottom: var(--border-black);
    }

    &__assigned-to {
        @include flex-align-start;

        grid-area: assigned-to;

        font-size: 2rem;
        border-bottom: var(--border-black);
    }

    &__due-date {
        @include flex-align-start;

        grid-area: due-date;

        border-bottom: var(--border-black);
    }

    &__description {
        grid-area: description;
        border-bottom: var(--border-black);
    }

    &__comments {
        grid-area: comments;
        border-bottom: var(--border-black);
    }

    &__footer {
        height: 15rem;
    }
}
