.progress-bar {
    @include flex-align;
    padding: 5px 1rem;
}

.progress-bar__label {
    flex: 0 0 25%;
}

progress {
    flex: 0 0 50%;
}

progress[value] {
    appearance: none;
    height: 10px;
}

progress[value]::-webkit-progress-bar {
    border-radius: 1.5rem;
    background-color: var(--color-black-light-2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
}

progress[value]::-webkit-progress-value {
    border-radius: 1.5rem;
    background-color: var(--progress-ring-blue);
    transition: all 0.25s ease-in-out;
}

.progress-bar__tasks {
    flex: 0 0 25%;

    text-align: end;
}
