.calendar {
    position: relative;
}

.calendar__header {
    @include flex-center-align;

    margin-bottom: 2rem;
    padding: 2rem 0;
    background: var(--color-black-light);
    border-radius: var(--border-radius);
}

.calendar__header > span {
    @include flex-center;
    width: 15rem;
}

.calendar__arrow {
    color: var(--color-grey-light);
    cursor: pointer;

    &:hover {
        color: var(--color-grey);
    }
}

.calendar__view {
    position: absolute;
    left: 2rem;
}

.calendar__view > button:not(:last-child) {
    margin-right: 1rem;
}

.calendar__button--right {
    position: absolute;
    right: 2rem;
}
