.task-comment {
    @include flex-align;

    width: 95%;
    padding: 7.5px;
}

.task-comment__profile {
    align-self: flex-start;
}

.task-comment__title {
    @include flex-space-between;

    margin: 3px 0 5px 0;
}

.task-comment__name {
    font-size: 14px;
    margin-right: 1rem;
}

.task-comment__date {
    font-size: 14px;
    color: var(--color-grey-light);
}

.task-comment__body {
    width: 95%;
}
